.card{

    //Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 48rem;
    
    &__side{
        height: 48rem;
        transition: all .8s ease;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-gray, .15);

        &--front{
            background-color:$color-white;
        }

        &--back{
            background-color: $color-primary;
            transform: rotateY(180deg);

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    //Front side Styling
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
        &--1{
            background-image: url(../img/plano-um.png);
        }

        &--2{
            background-image: url(../img/plano-dois.png);
        }

        &--3{
            background-image: url(../img/plano-tres.png);
        }

    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color:$color-white;
        position: absolute;
        top:23rem;
        width: 100%;
    }

    &__heading-span{
        //padding: 1rem 1.5rem;
        //-webkit-box-decoration-break: clone;
       // box-decoration-break: clone;
        background-image: linear-gradient(to right bottom, rgba($color-primary, .90), rgba($color-secondary, .70));
        
    }

    &__details{
        padding: 4.8rem;
        font-weight: 200rem;
       
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                 border-bottom: 1.5px solid $color-primary; 
                }
            }

        }
    }

    //Front Side
    &__description{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
    }

    &__value-box{
        margin-bottom: 5rem;
    }

    &__value-text{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__value-number{
        font-size: 6rem;
        font-weight: 200rem;
    }

}