.form{

    &__group:not(:last-child){
        margin-bottom: 1rem;
    }

    &__input, &__text-area{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius:2px ;
        background-color: rgba($color-white, .8);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;
        

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .3);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &::-webkit-input-placeholder{
            color: $color-black;   
        }

        &__text-area{
            resize:none;
            text-align: left;
            color: $color-gray;
        }
    
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__text-area:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
    }

}